PORT=5000
MONGODB_URI=mongodb+srv://vaibhavgosavi2003_db_user:CZjsjDveWNShiQNN@cluster0.okkorwu.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here_change_in_production
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=lensportfolio-media
FRONTEND_URL=http://localhost:5173

